.service{
    margin: 15px;
    border: 1px solid rgb(122, 121, 121);
    background-color: #333333;
    color: rgb(201, 201, 201);
    border-radius: 10px;
    padding: 15px;
    
}

.service-img{
    border-radius: 10px;
}