/* style of discount content under header section */
.bonus{
    border: 0.5px solid rgb(211, 210, 210);
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.bonus-text{
    color: #333333;
}

.btn-bonus{
    color: rgb(221, 221, 221);
    background-color: rgb(41, 41, 41);
}